/* Global Basic Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #061921;           /* Dark cyan background, in harmony with the overall color scheme of the picture */
  color: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;              /* Avoid scroll bar */
}

/* Make the p5 canvas centered and scale automatically within the window */
canvas {
  display: block;
  max-width: 100vw;
  max-height: 100vh;
}

/* Make the p5 canvas centered and scale automatically within the window */
#ui {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  font-size: 0.9rem;
  opacity: 0.8;
  pointer-events: none;          /* Don't block mouse interactions with the canvas */
}
